.about-all {
    left: 6.8%;
    width: 86.4%;
    top: 75px;
    position: relative;
}
.about-picture {
    position: absolute;
    width: 47%;
    height: 500px;
}
.about-text {
    position: absolute;
    top: 30px;
    right: 0%;
    width: 47%;
    color: var(--light-yellow);
    line-height: 1.4;
}
.about-text h1 {
    font-family: 'wulkan-semibold', serif;
    margin-top: 0px;
    font-size: 2.7vw;
}
.about-text p {
    font-weight: 200;
    font-size: 1.4vw;
}
.about-text a {
    text-decoration: none;
    font-weight: 500;
    color: var(--light-yellow);
    transition: 0.2s color ease-in-out;
}
.about-text a:hover {
    color: var(--light-blue);
}
.about-picture .circles {
    width: 100%;
    position: relative;
    left: 0px;
}
.about-picture .pink-circle, .about-picture .yellow-circle, .about-picture .blue-circle {
    width: 100%;
    position: absolute;
}
.about-picture .pink-circle {
    z-index: 2;
}
.about-picture .profile {
    position: absolute;
    width: 88%;
    top: 45px;
    left: 50px;
}
.resume-button p, .linkedin-button p {
    font-size: 1.1vw;
    font-family: 'fira-sans-medium', sans-serif;
    display: inline-block;
}
.about-text .line {
    border: solid var(--light-yellow);
    border-width: 0px 0 0.5px 0;
    width: 6.5vw;
    display: inline-block;
    position: relative;
    bottom: 4px;
    left: 7px;
}
.about-text .arrow {
    border: solid var(--light-yellow);
    border-width: 0 0.5px 0.5px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    bottom: 1px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    display: inline-block;
    margin-right: 15px;
}
.design-button p {
    font-size: 1.3vw;
    font-family: 'fira-sans-black', sans-serif;
    display: inline-block;
    color: var(--light-blue);
    margin-top: 0px;
}
.develop-button p {
    font-size: 1.3vw;
    font-family: 'fira-sans-medium', sans-serif;
    letter-spacing: 0.12em;
    display: inline-block;
    color: var(--light-blue);
    margin-top: 0px;
}
.github-button p {
    font-size: 1.2vw;
    font-family: 'fira-sans-regular', sans-serif;
    display: inline-block;
}
.design-button, .develop-button, .resume-button, .github-button, .linkedin-button {
    display: inline-block;
}
.design-button .line, .develop-button .line, .design-button .arrow, .develop-button .arrow {
    border-color: var(--light-blue) !important;
}
.design-button p:hover, .develop-button p:hover {
    color: var(--light-yellow) !important;
    transition: 0.2s color ease-in-out;
}
.meiday-link {
    font-family: 'fira-sans-regular', sans-serif;
}