.line-to .line {
    border: solid var(--pink);
    border-width: 0px 0 5px 0;
    width: 11.875%;
    display: inline-block;
}
.line-to .title {
    font-family: 'edita';
    font-style: italic;
    font-weight: 700;
    color: var(--light-yellow);
    display: inline-block;
    font-size: 4vw;
    margin-left: 1.25%;
    position: relative;
    top: 0.75vw;
}
.line-to .descriptions p {
    font-weight: 200;
    color: var(--light-yellow);
    font-size: 1.8vw;
    width: 73.75%;
    margin-left: 13.125%;
}