.project-overview {
    height: 375px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.6);
    width: 88.75%;
    margin-left: 5.625%;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;
}
.project-overview .text {
    position: absolute;
    left: 7%;
    width: 35%;
    top: 18%;
    color: var(--dark-blue) !important;
}
.project-overview .title {
    font-family: 'wulkan-semibold', serif;
    font-size: 3vw;
    position: relative;
    margin-bottom: 0px;
}
.project-overview .description {
    font-family: 'fira-sans-light', sans-serif;
    margin: 10px 0px 5px 0px;
    font-size: 1.25vw;
    line-height: 1.4;
}
.project-overview .tags p {
    font-family: 'fira-sans-light', sans-serif;
    display: inline-block;
    font-size: 1.1vw;
    font-weight: 300;
    padding: 5px 7px 5px 7px;
    border: 0.5px solid;
    border-radius: 5px;
    margin: 10px 7px 0px 0px;
}
.project-overview .images {
    width: 46%;
    position: absolute;
    bottom: 0;
    right: 7%;
}
.project-overview .desktop-container {
    width: 68.3%;
    max-height: 300px;
}
.project-overview .desktop-img {
    width: 115%;
    position: relative;
    border-radius: 2px 2px 0px 0px;
    bottom: -4px;
}
.project-overview .mobile-img {
    width: 32%;
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 350px;
    overflow: hidden;
}
.project-overview:hover {
    background-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.2s ease-in-out;
}
@media only screen and (max-width: 1108px) {
    .project-overview {
        height: 325px;
    }
    .project-overview .description {
        font-size: 1.4vw;
    }
}
@media only screen and (max-width: 933px) {
    .project-overview .description {
        font-size: 1.7vw;
    }
    .project-overview .tags p {
        font-size: 1.5vw;
    }
    .project-overview .text {
        top: 14%;
    }
}
@media only screen and (max-width: 775px) {
    .project-overview .text {
        width: 86%;
        top: 10%;
    }
    .project-overview .title {
        font-size: 4vw;
    }
    .project-overview .description {
        font-size: 2vw;
    }
    .project-overview .tags p {
        font-size: 1.6vw;
    }
    .project-overview .images {
        width: 60%;
        left: 20%;
    }
    .project-overview {
        height: 55vw;
    }
}
@media only screen and (max-width: 650px) {
    .project-overview .text {
        top: 6%;
    }
    .project-overview .title {
        font-size: 5vw;
    }
    .project-overview .description {
        font-size: 2.6vw;
    }
    .project-overview .tags p {
        font-size: 2vw;
    }
    .project-overview .images {
        width: 86%;
        left: 7%;
    }
    .project-overview {
        height: 75vw;
    }
}
@media only screen and (max-width: 532px) {
    .project-overview {
        height: 79vw;
    }
}