.project-head {
    height: calc(100vh - 170px);
    padding: 125px 13.125% 0 13.125%;
    overflow: hidden;
}
.project-head .title {
    font-family: edita, serif;
    font-weight: 700;
    font-size: 4vw;
    position: relative;
    top: -10px;
}
.project-head .description {
    font-weight: 200;
    font-size: 1.9vw;
}
.project-head .desktop {
    width: 80%;
    border-radius: 3px 3px 0px 0px;
}
.project-head .mobile {
    width: 23%;
    position: absolute;
    right: 0px;
    bottom: 2px;
    z-index: -1;
}
.project-head .images {
    position: absolute;
    bottom: -6px;
    z-index: 0;
    width: 73.75%;
}