.develop-hover {
    font-family: 'fira-sans', sans-serif;
    font-weight: 500;
    color: var(--light-yellow);
    display: inline-block;
    letter-spacing: 0.12em;
    cursor: pointer;
    margin-right: 1.2%;
}