.intro-statement {
    position: relative;
    left: 6.8%;
    width: 71.6%;
    font-size: 40px;
    font-weight: 100;
    color: var(--light-yellow);
    line-height: 1.3;
    margin-top: 20%;
}

 .intro-statement p {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
 }
 
.intro-hover-design {
    display: none;
}

.fade-away {
    opacity: 0.4;
}

.show {
    display: block;
}

.design-shapes {
    position: relative;
    display: none;
}

.design-shape-1 {
    position: fixed;
    top: 41px;
    right: 0px;
}

.design-shape-2 {
    position: fixed;
    bottom: -10px;
}

.show-shapes {
    display: block;
}