.design-shape-2 {
    position: absolute;
    top: 0%;
    right: 0px;
    z-index: -1;
    width: 55%;
}
.wandr-overview {
    position: relative;
    top: 75px;
}
.pwp-overview {
    position: relative;
    top: 125px;
}
.pwp-overview .project-overview {
    margin-bottom: 50px;
}
@media only screen and (max-width: 1108px) {
    .design-shape-2 {
        top: -5%;
        width: 52%;
    }
}
@media only screen and (max-width: 933px) {
    .design-shape-2 {
        top: -9%;
        width: 50%;
    }
}
@media only screen and (max-width: 775px) {
    .design-shape-2 {
        top: -11%;
        width: 52%;
    }
}
@media only screen and (max-width: 650px) {
    .design-shape-2 {
        display: none;
    }
}

