.header {
    height: 45px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.header-logo {
    max-width: 65px;
    position: absolute;
    left: 5.625%;
    top: 16px;
}

.header-name {
    padding-top: 15px;
    position: absolute;
    right: 5.625%;
    font-family: edita-small, serif;
    font-size: 18px;
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
}

.hovered-head {
    color: var(--light-blue);
    /* text-decoration: underline;
    text-decoration-color: #ecd06e; */
    transition: color 0.5s ease-in-out;
}

.hovered-logo {
    overflow-y: visible !important;
    position: relative;
}