.header {
    height: 45px;
    background-color: #ffffff;
    overflow-x: hidden;
    position: relative;
}

.header-logo {
    max-width: 65px;
    position: absolute;
    left: 70px;
    top: 16px;
}

.header-name {
    background-color: #ffffff;
    padding-top: 16px;
    position: absolute;
    right: 70px;
    font-family: wulkan-semibold, serif;
    font-size: 17px;
    text-decoration: none;
    line-height: 1;
    box-shadow:
    inset 0 -0.075em var(--pink);
    color: var(--dark-blue);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}
.header-name span {
    text-shadow:
    2px 7px white,
    1px 7px white,
    -1px 7px white,
    0px 1px white;
}
.header-mobile {
    display: none;
}

.hovered-head {
    box-shadow:
    inset 0 -0.075em var(--light-blue);
    transition: box-shadow 0.2s ease-in-out;
}

.hovered-logo {
    overflow-y: visible !important;
    position: relative;
}
@media only screen and (max-width: 532px) {
    .header-mobile {
        display: inline-block !important;
    }
    .header-name {
        display: none;
    }
    .header-logo {
        left: 12%;
    }
}