.header {
    height: 45px;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.header-logo {
    max-width: 65px;
    position: absolute;
    left: 70px;
    top: 16px;
}

.header-name {
    padding-top: 15px;
    position: absolute;
    right: 70px;
    font-family: edita-small, serif;
    font-size: 18px;
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
}

.header-mobile {
    display: none;
}

.hovered-head {
    color: var(--light-blue);
    transition: color 0.5s ease-in-out;
}

.hovered-logo {
    overflow-y: visible !important;
    position: relative;
}
@media only screen and (max-width: 532px) {
    .header-mobile {
        display: inline-block !important;
    }
    .header-name {
        display: none;
    }
    .header-logo {
        left: 12%;
    }
}