.nav-bar {
    font-size: 1.75vw;
    position: relative;
    left: 5.625%;
    top: 60px;
    width: 94.375%;
}
.design-nav {
    display: inline-block;
    cursor: pointer;
    color: var(--light-yellow);
    font-family: 'fira-sans-black', sans-serif;
    margin-right: 2.5%;
}
.develop-nav {
    display: inline-block;
    cursor: pointer;
    color: var(--light-yellow);
    font-family: 'fira-sans-medium', sans-serif;
    letter-spacing: 0.12em;
    margin-right: 2.5%;
}
.arts-nav {
    display: inline-block;
    cursor: pointer;
    color: var(--light-yellow);
    font-family: 'fira-sans-regular', sans-serif;
    font-style: italic;
}
.active {
    opacity: 1 !important;
    transition: opacity 0.2s ease-in-out;
}
.resting-state {
    opacity: 0.4;
    transition: opacity 0.2s ease-in-out;
}
.active:hover {
    opacity: 1;
}
@media only screen and (max-width: 933px) {
    .nav-bar {
        font-size: 2.25vw;
    }
}
@media only screen and (max-width: 775px) {
    .nav-bar {
        font-size: 2.5vw;
    }
}
@media only screen and (max-width: 650px) {
    .nav-bar {
        font-size: 3.5vw;
    }
    .design-nav, .develop-nav, .arts-nav {
        margin-right: 5%;
    }
}
@media only screen and (max-width: 532px) {
    .nav-bar {
        top: 40px;
    }
}